extends ./layout

block contenido
    .contenido-principal
        h1 #{nombrePagina}

        form(class="agregar-proyecto" method="POST")
            .campo
                label(for="nombre") Nombre del proyecto:
                input(type="text" id="nombre" name="nombre" placeholder="Nombre del proyecto")
            .campo-enviar
                input(type="submit" value="Agregar" class="boton")
    

