<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./emailReestablecer.css
            
    body
        h2 Reestablecer tu contraseña

        p ¡Hola! Has solicitado reestablecer tu contraseña, haz click en el siguiente enlace para reestablecerla.
        p Este enlace es temporal, así que si se vence vuelve a solicitarlo.

        a(href=`${resetUrl}`) Reestablece tu contraseña

        p Si no puedes acceder al enlace, copia el siguinte enlace: #{resetUrl}
        p Si no solicitaste este correo electrónico, puedes ignorarlo.